
@import "../../width.scss";
.cards{
     display: flex;
     justify-content: space-between;
     max-width: 1400px;
     min-height: 700px;
     margin-left: 3%;
     margin-bottom: 118px;
    
     @include width_1024{
        flex-direction: column;
        align-items: center;
    }

.card_begginer{
    background-color: #FFB64F;



    .txt_field__current_tariff{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: -40px;
        margin-left: 50%;
        width: 45%;
        height: 24px;           
        border-radius: 10px;
        border: none;
        background-color: #3BA5E0;
        color:white;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.01em;
       }
       .description__btn_lk{
        width: 100%;
        height: 59px;
        border: none;
        border-radius: 5px;
        color: black;
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: center;
        background-color: #D2D2D2;
        margin-top: 30px;
        margin-bottom: 30px;
        cursor: pointer;
    }  
}
.card_pro{
    background-color: #7CE3E1;
}     
.card_bussines{
    background-color: black;
    .card_h2,  .card_text{
        color: white;
    }
}
.card_begginer, .card_pro, .card_bussines{
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 90%;
    border-radius: 10px;
    border: 2px;
    border-color: #FFB64F;
    box-shadow: 0px 0px 20px 0px #00000033;
    align-items: center;
    @include width_1024{
        width: 90%;
        margin-bottom: 40px;
    }
   
    
    .card_head{
        display: flex;
        width: 95%;
        justify-content: space-between;
    }

    .card_head_txt{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
        .card_h2{
        font-family: Inter;
        font-size: 30px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.01em;
        text-align: left;
        
        }
        .card_text{
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.01em;
        text-align: left;
        }
    }

    .card_svg{
        width: 93px;
    }
    
    .card_txt_field{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        background-color: white;
        width: 100%;
        height: 80%;
        border-radius: 10px;
        align-items: center;

        

        .txt_field__container{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-top: 50px;
        
      
        
        .txt_field__price{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            height: 50px;
            margin: 0;

            .price__new_price{
                font-family: Inter;
                font-size: 30px;
                font-weight: 500;
                line-height: 36px;
                letter-spacing: 0.01em;
                margin-right: 20px;
                
            }
            .price__old_price{
                font-family: Inter;
                font-size: 25px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0.01em;
                color: #000000;
                opacity: 50%;
                text-decoration: line-through;
            }
        }
        .txt_field__description{
            display: flex;
            flex-direction: column;
            width: 100%;

            .description__p{
                font-family: Inter;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0.01em;
            }

            .description__h3{
                font-family: Inter;
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
                letter-spacing: 0.01em;
                margin-top: 50px;
            }

            .description__stroke_box{
                display: flex;
                flex-direction: row;
            }

            .description__btn{
                width: 100%;
                height: 59px;
                border: none;
                border-radius: 5px;
                color: white;
                font-family: Inter;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.01em;
                text-align: center;
                background-color: #5970FF;
                margin-top: 30px;
                margin-bottom: 30px;
                cursor: pointer;
            }
        
        }

    }   
    }
}
}
